<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <title>داشبورد</title>
  </head>
  <body>
    <main>
      <div class="container">
        <div class="row my-3 gap-3">
          <aside class="col-12 col-md-3 shadow m-0 p-0 rounded-2">
            <div class="image w-75 d-flex align-items-center p-2 gap-2">
              <div
                class="logo__wrapper rounded-circle bg-white d-flex justify-content-center align-items-center p-1"
              >
                <img class="logo__img" src="/static/raya-logo.png" alt="logo" />
              </div>
              <h3 class="m-0 text-white fs-5 fw-bold">رایا</h3>
            </div>
            <ul class="px-2 mt-4">
              <li class="py-2 mb-2 active rounded-1">
                <a href="#" class="fs-6">
                  <i class="bx bxs-dashboard"></i>
                  داشبورد
                </a>
              </li>
              <li class="py-2 mb-2 rounded-1">
                <a href="#" class="fs-6">
                  <i class="bx bx-money"></i>
                  درآمدها
                </a>
              </li>
              <li class="py-2 mb-2 rounded-1">
                <a href="#" class="fs-6">
                  <i class="bx bx-money-withdraw"></i>
                  هزینه ها
                </a>
              </li>
              <li class="py-2 mb-2 rounded-1">
                <a href="#" class="fs-6">
                  <i class="bx bx-table"></i>
                  جدول تراکنش ها
                </a>
              </li>
            </ul>
          </aside>
          <div class="left__section col-12 col-md-8">
            <h1 class="fs-4 fw-bold mt-5">داشبورد</h1>
            <div class="line w-100 mt-4"></div>
            <div class="mt-3">
              <h3 class="fs-6">کل هزینه ها</h3>
              <div class="row mt-3">
                <div class="col-12 col-sm-6 col-xl-4">
                  <div
                    class="bank__box position-relative mb-3 rounded-3 py-4 px-3 d-flex align-items-center gap-3"
                  >
                    <div
                      class="icon rounded-circle d-flex justify-content-center align-items-center"
                    >
                      <i class="bx bxs-bank fs-5 text-white"></i>
                    </div>
                    <div>
                      <h4 class="fs-6 m-0 mb-2 text-white">
                        <span id="price">0</span>
                        تومان
                      </h4>
                      <p class="fs-6 m-0 text-white">جمع کل</p>
                    </div>
                    <div class="price__srction"></div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 1440 320"
                    >
                      <path
                        fill="#f3f4f5"
                        fill-opacity="1"
                        d="M0,96L18.5,133.3C36.9,171,74,245,111,266.7C147.7,288,185,256,222,245.3C258.5,235,295,245,332,245.3C369.2,245,406,235,443,213.3C480,192,517,160,554,176C590.8,192,628,256,665,277.3C701.5,299,738,277,775,229.3C812.3,181,849,107,886,117.3C923.1,128,960,224,997,250.7C1033.8,277,1071,235,1108,218.7C1144.6,203,1182,213,1218,213.3C1255.4,213,1292,203,1329,181.3C1366.2,160,1403,128,1422,112L1440,96L1440,320L1421.5,320C1403.1,320,1366,320,1329,320C1292.3,320,1255,320,1218,320C1181.5,320,1145,320,1108,320C1070.8,320,1034,320,997,320C960,320,923,320,886,320C849.2,320,812,320,775,320C738.5,320,702,320,665,320C627.7,320,591,320,554,320C516.9,320,480,320,443,320C406.2,320,369,320,332,320C295.4,320,258,320,222,320C184.6,320,148,320,111,320C73.8,320,37,320,18,320L0,320Z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-4">
                  <div
                    class="money__box mb-3 position-relative rounded-3 py-4 px-3 d-flex align-items-center gap-3"
                  >
                    <div
                      class="icon rounded-circle d-flex justify-content-center align-items-center"
                    >
                      <i class="bx bx-money fs-5 text-white"></i>
                    </div>
                    <div>
                      <h4 class="fs-6 m-0 mb-2 text-white">
                        <span id="price">0</span>
                        تومان
                      </h4>
                      <p class="fs-6 m-0 text-white">درآمدها</p>
                    </div>
                    <div class="price__srction"></div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 1440 320"
                    >
                      <path
                        fill="#f3f4f5"
                        fill-opacity="1"
                        d="M0,224L15,218.7C30,213,60,203,90,213.3C120,224,150,256,180,234.7C210,213,240,139,270,106.7C300,75,330,85,360,85.3C390,85,420,75,450,96C480,117,510,171,540,192C570,213,600,203,630,208C660,213,690,235,720,234.7C750,235,780,213,810,218.7C840,224,870,256,900,272C930,288,960,288,990,266.7C1020,245,1050,203,1080,160C1110,117,1140,75,1170,48C1200,21,1230,11,1260,42.7C1290,75,1320,149,1350,181.3C1380,213,1410,203,1425,197.3L1440,192L1440,320L1425,320C1410,320,1380,320,1350,320C1320,320,1290,320,1260,320C1230,320,1200,320,1170,320C1140,320,1110,320,1080,320C1050,320,1020,320,990,320C960,320,930,320,900,320C870,320,840,320,810,320C780,320,750,320,720,320C690,320,660,320,630,320C600,320,570,320,540,320C510,320,480,320,450,320C420,320,390,320,360,320C330,320,300,320,270,320C240,320,210,320,180,320C150,320,120,320,90,320C60,320,30,320,15,320L0,320Z"
                      ></path>
                    </svg>
                  </div>
                </div>
                <div class="col-12 col-sm-6 col-xl-4">
                  <div
                    class="moneyWithdraw__box position-relative mb-3 rounded-3 py-4 px-3 d-flex align-items-center gap-3"
                  >
                    <div
                      class="icon rounded-circle d-flex justify-content-center align-items-center"
                    >
                      <i class="bx bx-money-withdraw fs-5 text-white"></i>
                    </div>
                    <div>
                      <h4 class="fs-6 m-0 mb-2 text-white">
                        <span id="price">0</span>
                        تومان
                      </h4>
                      <p class="fs-6 m-0 text-white">مخارج</p>
                    </div>
                    <div class="price__srction"></div>
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      viewBox="0 0 1440 320"
                    >
                      <path
                        fill="#f3f4f5"
                        fill-opacity="1"
                        d="M0,128L15,122.7C30,117,60,107,90,96C120,85,150,75,180,90.7C210,107,240,149,270,170.7C300,192,330,192,360,165.3C390,139,420,85,450,90.7C480,96,510,160,540,181.3C570,203,600,181,630,192C660,203,690,245,720,234.7C750,224,780,160,810,138.7C840,117,870,139,900,144C930,149,960,139,990,149.3C1020,160,1050,192,1080,208C1110,224,1140,224,1170,202.7C1200,181,1230,139,1260,101.3C1290,64,1320,32,1350,16C1380,0,1410,0,1425,0L1440,0L1440,320L1425,320C1410,320,1380,320,1350,320C1320,320,1290,320,1260,320C1230,320,1200,320,1170,320C1140,320,1110,320,1080,320C1050,320,1020,320,990,320C960,320,930,320,900,320C870,320,840,320,810,320C780,320,750,320,720,320C690,320,660,320,630,320C600,320,570,320,540,320C510,320,480,320,450,320C420,320,390,320,360,320C330,320,300,320,270,320C240,320,210,320,180,320C150,320,120,320,90,320C60,320,30,320,15,320L0,320Z"
                      ></path>
                    </svg>
                  </div>
                </div>
              </div>
            </div>
            <div class="mt-5">
              <h3 class="fs-6">فعالیت های اخیر</h3>
              <table class="table table-primary mt-3 rounded-1 overflow-hidden">
                <thead>
                  <tr>
                    <th scope="col">ردیف</th>
                    <th scope="col">قیمت</th>
                    <th scope="col">دسته بندی</th>
                    <th scope="col">حساب</th>
                    <th scope="col">زمان</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">1</th>
                    <td>
                      10000
                      <i class="bx bxs-up-arrow-circle"></i>
                      <i class="bx bxs-down-arrow-circle"></i>
                    </td>
                    <td>alireza</td>
                    <td>mmdali</td>
                    <td>1402-11-14 06:35:52</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>
                      10000
                      <i class="bx bxs-up-arrow-circle"></i>
                      <i class="bx bxs-down-arrow-circle"></i>
                    </td>
                    <td>alireza</td>
                    <td>mmdali</td>
                    <td>1402-11-14 06:35:52</td>
                  </tr>
                  <tr>
                    <th scope="row">1</th>
                    <td>
                      10000
                      <i class="bx bxs-up-arrow-circle"></i>
                      <i class="bx bxs-down-arrow-circle"></i>
                    </td>
                    <td>alireza</td>
                    <td>mmdali</td>
                    <td>1402-11-14 06:35:52</td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>
                      100000
                      <i class="bx bxs-up-arrow-circle"></i>
                      <i class="bx bxs-down-arrow-circle"></i>
                    </td>
                    <td>mmd</td>
                    <td>ali</td>
                    <td>1402-11-14 06:35:52</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>
                      20000
                      <i class="bx bxs-up-arrow-circle"></i>
                      <i class="bx bxs-down-arrow-circle"></i>
                    </td>
                    <td>Aeshia</td>
                    <td>arad</td>
                    <td>1402-11-14 06:35:52</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>
                      20000
                      <i class="bx bxs-up-arrow-circle"></i>
                      <i class="bx bxs-down-arrow-circle"></i>
                    </td>
                    <td>Aeshia</td>
                    <td>arad</td>
                    <td>1402-11-14 06:35:52</td>
                  </tr>
                  <tr>
                    <th scope="row">3</th>
                    <td>
                      20000
                      <i class="bx bxs-up-arrow-circle"></i>
                      <i class="bx bxs-down-arrow-circle"></i>
                    </td>
                    <td>Aeshia</td>
                    <td>arad</td>
                    <td>1402-11-14 06:35:52</td>
                  </tr>
                </tbody>
              </table>
              <div class="empty d-flex flex-column align-items-center d-none">
                <img src="empty.jpg" alt="empty task">
                <h6>فعالیت هایی نداشتید</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
