<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <main>
      <div class="task-haeder">
        <div class="counter">
          <h5>0/1</h5>
        </div>
        <div class="header-title">
          <h1>کارهای من</h1>
          <p>انجامش بده</p>
        </div>
      </div>
      <form action="#" class="add-task">
        <input type="text" placeholder="کارتو اینجا بنویس" />
        <button type="submit" class="submit">
          <i class="bx bx-plus"></i>
        </button>
      </form>
      <div class="task-container">
        <div class="show-task">
          <form action="#" class="task-check">
            <input type="checkbox" />
            <p>
              Lorem ipsum dolor sit amet consectetur.
            </p>
          </form>
          <div class="icon">
            <div class="edit-delete">
              <form action="#">
                <i class='bx bxs-pencil'></i>
              </form>
              <form action="#">
                <i class='bx bxs-trash-alt'></i>
              </form>
            </div>
            <div class="check-icon">
              <i class='bx bx-check'></i>
              <i class='bx bx-x'></i>
            </div>
          </div>
        </div>
        <div class="empty-task"></div>
      </div>
    </main>
  </body>
</html>
